<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="#">
            <span class="text-logo">Feride</span>
        </a>
    </div>

    <style>
        .text-logo {
            font-family: Georgia, "Times New Roman", serif;
            font-size: 32px;
            color: #FFFFFF;
            letter-spacing: 2px;
            font-weight: 600;
        }
    </style>





    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll" href="#home" title="home">Home Page</a></li>
            <li><a class="smoothscroll" href="#about" title="about">About Me</a></li>
            <!--  <li><a class="smoothscroll" href="#works" title="works">Projeler</a></li> -->
            <!--  <li><a class="smoothscroll" href="#blog" title="blog">Referanslarım</a></li>
            </a></li> -->
            <li><a class="smoothscroll" href="#contact" title="contact">Contact</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header> 