@model List<MyPortfolio.DAL.Entities.Feature>
<section id="home" class="s-home page-hero target-section" data-parallax="scroll" data-image-src="https://i.hizliresim.com/i3f5vvc.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="overlay"></div>
    <div class="shadow-overlay"></div>

    @foreach(var item in Model)
    {
        <div class="home-content">

        <div class="row home-content__main">

            <h3>@item.Title</h3>

            <h1>
                I'm Feride GÜNDÜZ <br>
                Computer Engineer, <br>
                Jr. Data Scientist,<br>
                .NET Developer <br>


            </h1>

            <div class="home-content__buttons">
               
                <a href="#about" class="smoothscroll btn btn--stroke">
                    More About Me
                </a>
            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

        </div>

    </div> <!-- end home-content -->

    }
)


 <ul class="home-social">
    <li>
        <a href="https://www.linkedin.com/in/feride-g%C3%BCnd%C3%BCz-3b446821a/" target="_blank">
            <i class="im im-linkedin" aria-hidden="true"></i><span>LinkedIn</span>
        </a>
    </li>

    <li>
        <a href="https://www.instagram.com/feride.gnd/" target="_blank">
            <i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span>
        </a>
    </li>

    <li>
        <a href="https://github.com/feridegunduz" target="_blank">
            <i class="im im-github" aria-hidden="true"></i><span>GitHub</span>
        </a>
    </li>
</ul>


    <!-- end home-social -->

</section> <!-- end s-home -->
